# ansible.cfg
[defaults]
inventory = ./hosts-dev
remote_user = ec2-user
private_key_file = ~/.ssh/ansible-practice.pem
host_key_checking = False  

[ssh_connection]
ssh_args = -C -o IdentitiesOnly=yes 